body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


.banner{

    background-image: url(../images/5975972.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 5px dashed tomato;
   
}
.logo-banner{
    margin-top: 0px;

}

.orange_color{
    color: orange;
}

.logo{
   height: 80px;
   width: 250px;
   margin-bottom: 50px;
   margin-top: 30px;
}
h1{
    font-size: 50px;
}
.main-div{
    display: flex;
    
    
}

.half-div{
    width: 45%;
    margin-left: 8px;
   
}
.text-div{
 
    padding: 5px;

}
.image_div img{
    position: relative;
   left: 240px;
   top: 100px;
}

.link_button{
    text-decoration: none;
   background-image: linear-gradient(yellow,tomato);
   padding: 10px 40px;
   border-radius: 5px;
   margin-bottom: 40px; 
   color: rgb(255, 255, 255);
 
 
}

.margin_color{
    height: 5px;
    background-image: linear-gradient(orange, tomato);
   
}

.second_banner{
    display: flex;
    margin-left: 0px;
    border-bottom: 5px dashed tomato;
    padding-bottom: 40px;
   
   
}
.profile_pic{
   
    margin-top: 50px;
    padding-bottom: 0px;
    background-image: linear-gradient(orange, tomato);
    margin-left: 0;
    width: 300px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 20%;

}
.profile_pic img{

    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid orange;
    margin-left: 90px;
    
   
}


.text_divv{

    padding-left: 300px;
    padding-top: 60px;
  

}

.worke_on_div{
display: flex;
padding:0 7%;
padding-bottom: 20px;

}

.sub_div1{
    text-align: center;
    width: 33%;
    padding: 50px;
    background-color: azure;
    margin-left: 20px;
    border-radius: 5%;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.sub_div1 img{
    height: 150px;
    width: 150px;
}

.backgound_orange{
    background-color: rgb(240, 204, 198);
}

.backgound_blue{
    background-color: rgb(183, 165, 233);
}

.contact{
   

}
.contact_div{
    display: flex;
    padding: 20px;
    padding-left: 110px;
}
.contact_item{
    display: flex;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);

          margin: 5px 50px;
         
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
    
}
.item1 img{
    height: 30px;
    width: 30px;
}
.item1{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.item2{
    padding: 15px 20px;
}

footer{
    margin-top: 30px;
    text-align: center;
    padding: 30px 400px;
    background-image: linear-gradient(orange, tomato);
}